@model UserUpdateDto

<div class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title">
                    <span class="fas fa-edit"></span>
                    Kullanıcı Güncelle
                </h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="İptal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-area="Admin" asp-controller="User" asp-action="Update" id="form-user-update">
                    <input type="hidden" name="IsValid" value="@ViewData.ModelState.IsValid.ToString()" />
                    <input type="hidden" asp-for="Id" />
                    <div asp-validation-summary="All" class="text-danger" id="validation-summary" aria-hidden="true" style="display:none;"></div>
                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input type="text" asp-for="UserName" class="form-control" placeholder="kullanıcı adı">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input type="email" asp-for="Email" class="form-control" placeholder="e-posta adresi">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input type="tel" asp-for="PhoneNumber" class="form-control" placeholder="telefon numarası">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Picture"></label>
                        <input type="hidden" asp-for="Picture" />
                        <img src="~/img/@Model.Picture" class="img-fluid img-thumbnail" alt="@Model.Picture" style="max-width:64px;max-height:64px;" />
                    </div>
                    <div class="form-group">
                        <label asp-for="PictureFile"></label>
                        <input type="file" accept="images/*" asp-for="PictureFile" class="form-control-file" placeholder="profil resmi">
                        <span asp-validation-for="PictureFile" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <span class="fas fa-times"></span>
                    Çıkış
                </button>
                <button type="button" class="btn btn-warning" id="btnUpdate">
                    <span class="fas fa-edit"></span>
                    Güncelle
                </button>
            </div>
        </div>
    </div>
</div>