<div class="container-fluid">
    <h1>Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>

    <div class="row">
        <p>
            burası home index
        </p>
        <a asp-area="" asp-controller="Home" asp-action="Index">
            Normal Sayfaya Git
        </a>
    </div>
</div>